---
import Layout from '../layouts/Layout.astro';
import AnimeLogoVariants from '../components/demos/AnimeLogoVariants';
---

<Layout title="Logo Animation Variants - DINAOPERPOL">
  <main class="min-h-screen">
    <AnimeLogoVariants client:load />
  </main>
</Layout>
